/* ===============================
Общие стили
=============================== */

/*Обнуление ко всем элементам*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}
/* Подсчет ширины блока */
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* Убираем линии обводки в браузерах */
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}
/* Делаем эллементы блочными */
nav,
footer,
header,
aside {
  display: block;
}
/* Уравнивание шрифтов и эллементов в разных браузерах. Например увеличение шрифта на айфоне */
html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
/* Наследовть семейство шрифта. По умолчанию они этого не делают */
input,
button,
textarea {
  font-family: inherit;
}
textarea {
  resize: none;
}
/* Особенности в разных браузерах. Крестик в инпутах. Отступы конопок. И обнуление списков */
input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}
/* Сбрасываем стили заголовков */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}
/*Обнуление ко всем элементам*/

body {
  background: url(../images/bg2.jpg);
}
/* ============================================================================= */
